header.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #25283D;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 1px 4px 8px 2px rgba(160, 159, 159, 0.5);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 40px;
    margin-left: 5px;
    border: 2px solid #343753;
    background-color: #25283D;
    border-radius: 5px;
    font-size: 1.4rem;
}

button i {
    color: #fff;
}

.main-title { 
    flex: 1;
    text-align: center;

    text-decoration: none;
    color: #fff;
}

.main-title .header-link {
    text-decoration: none;
    color: #fff;
}

.main-title:hover {
    color: #fff;
}